{% extends 'airplanes/base.html' %}

{% block content %}
    {% for p in posts %}
    <div class="content-block">
        <div class="block-cat">
            <p>Категория: {{ p.cat }}</p>
            <p>Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
        </div>
        <div class="block-desc">
            {% if p.photo %}
            <div class="desc-image">
                <img class="desc-img" src="{{ p.photo.url }}">
            </div>
            {% endif %}
            <div class="desc-wrap">
                <h2 class="block-title">{{ p.title }}</h2>
                <p class="block-text">{{ p.content|truncatewords:50 }}</p>
                <div class="block-button">
                    <a class="block-btn" href="{{ p.get_absolute_url }}">Читать пост</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}




