{% extends 'airplanes/base.html' %}

{{ title }}

{% block content %}
<form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <main>
        <div class="register-form-container">
            <h1 class="form-title">Авторизация</h1>
            <div class="form-fields">
                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}
                <div class="form-field">
                    {{ f }}
                </div>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}

                <div class="form-button">
                    <button type="submit">Войти</button>
                </div>
            </div>
        </div>
    </main>
</form>
{% endblock content %}